/* --- MEDIA QUERIES: LARGURA --- */

@media screen and (max-width: 900px) { /* -- TELAS MÉDIAS -- */
    header {
        display: flex;
        justify-content: flex-end;
        background: linear-gradient(135deg, var(--cor_preto1) 22%, var(--cor_azul1) 22%, var(--cor_vermelho1));
    }

    #logotipo {
        left: 20px;
        top: 6px;
    }

    main {
        font-size: 2.3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    q {
        top: 350px;
        left: 20px;
    }

    #sidenav {
        width: 250px;
    }

    nav {
        display: none;
    }

    #btn-info {
        top: 22px;
        right: 100px;
    }

    .btn-abrirMenu {
        display: block;
    }
}

@media screen and (max-width: 680px) { /* -- TELAS PEQUENAS -- */
    body{
        background-position: center top;
    }

    header {
        background: linear-gradient(135deg, var(--cor_preto1) 30%, var(--cor_vermelho2) 30%);
    }

    q {
        top: 350px;
        left: 20px;
    }

    #btn-info {
        top: 22px;
    }
}

@media screen and (max-width: 560px) { /* -- TELAS MUITO PEQUENAS -- */
    body{
        background-position: center bottom;
    }

    header {
        background: linear-gradient(135deg, var(--cor_preto1) 35%, var(--cor_vermelho2) 35%);
    }

    #btn-info {
        top: 22px;
    }

    #sidenav {
        width: 190px;
    }

    main {
        font-size: 2.4em;
        position: relative;
    }

    q {
        top: 350px;
        left: 20px;
    }

    span {
        margin-left: 21px;
    }
}

/* --- MEDIA QUERIES: ALTURA --- */

@media screen and (min-height: 680px) {
    q {
       top: 440px;
    }
}

@media screen and (min-height: 790px) {
    q {
       top: 580px;
       left: 60px;
    }
}

@media screen and (min-height: 920px) {
    q {
       top: 600px;  
    }
}

@media screen and (min-height: 1150px) {
    
    main {
        font-size: 3.2em;
    }
    
    q {
       top: 800px;
       left: 60px;
    }
}